/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.03.19
   PURPOSE: Styles the html elements
 **************************************************************/

html {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;
  padding: 0;
/*  text-align: center;*/
  
  background: #fff;
  color: black;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-family: "Helvetica", "Lucida Bright", Verdana, Arial, sans-serif;

/*  font: 400 1em verdana, arial, sans-serif;
*/  
	
/*	font: 400 0.9em "verdana", serif;
	line-height: 170%;

  background: #FFFFFF;
  color: #020202;
*/

}

h1 {   
  clear: both;
  font-weight: lighter;
  font-size: 56px;
  line-height: 72px;
/*  font: 700 2.5em "trebuchet ms", serif;*/
/*  color: #3B6EA5;*/
}

h2 {
/*  font: 400 1.5em "trebuchet ms", serif;*/
	font-size: 18px; 
	line-height: 24px;
	margin-bottom: 18px;
	font-weight: lighter;
/*  	color: #3B6EA5;*/
}

/*h2 a {
  color: #A53D3B;
}

h2 a:hover {
  color: #A53D3B;
}
*/
h3 {
/*  font: 400 1.3em "trebuchet ms", serif;
  color: #020202;*/
  font-size: 14px; 
  line-height: 22px;
  margin-bottom: 18px;
  font-weight: lighter;
}

h4 {
  font: 1em;
  line-height: 1.5em;
  font-weight: 500;
}

/*h6 {
  font: 700 1em "trebuchet ms", serif;
  color: #A3A53B;
}
*/

h5 {
  font-size: 18px; 
  line-height: 18px;
  font-weight: lighter;
}


h1, h2, h3, h4, h5, h6, p, dl {
  margin: 0;
  padding: 10px 15px;
}

p {
/*	font: 400 1em "verdana", sans-serif;
	line-height: 170%;*/
	margin-bottom: 18px;
}

p, ul, ol, li { 
    margin-bottom: 18px; 
}

ul {
    list-style-type: none;
    margin-left: 2em;
}

ol {
    margin-left: 2em;
}


/* Done so the leftmost column aligns properly with the header.
   If the leftmost column has class gradient applied to it, 
   this class isn't required. */
.leftColumn h1,
.leftColumn h2, 
.leftColumn h3,
.leftColumn h4,
.leftColumn h5,
.leftColumn h6,
.leftColumn p,
.leftColumn dl {
  padding-left: 0;
}

/*a {
  color: #A53D3B;
}*/

a { color:#000; text-decoration: none; font-weight: bold; }
a:hover { color:#066; text-decoration: underline; }


/* Uncomment this if you would like a visited link style 
a:visited {
  text-decoration: line-through;
} */

/*a:hover {
  color: #A53D3B;
}*/

/*b {
  color: #020202;
}
*/
/*ol, ul {
*//*  margin: 10px 30px;
  padding: 0 30px;
*//*  font: 400 0.9em "verdana", sans-serif;
  line-height: 145%;*/
/*}
*/
/*ol {
  color: #020202;
}
*/
ol span {
/*  color: #EEE;*/
}


del {
  color: #AAA;
}

code {
  margin: 10px 15px;
  padding: 10px;
  display: block;
  overflow: auto;
  
  font: 400 1em courier, monospace;
  line-height: 120%;
  white-space: pre;
  
  background: #A3896E;
}

.leftColumn code {
  margin-left: 0;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

dt {
  font-weight: bold;
  color: #FFB323;
}

dd {
  margin-left: 0;
  padding-left: 45px; 
}




/**************************************************************
   Form Elements
 **************************************************************/

label {
  display: block;
}

input,
textarea,
select {
  padding: 2px;
/*  font: 400 1em verdana, sans-serif;*/
  color: #444;
  background: #EEE;
  border: 1px solid #444;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  color: #000;
  background: #E4F7FA;
  border: 1px solid #00DFFF;
}

input.button {
  padding: 2px 5px;

/*  font: 400 1.1em "trebuchet ms", serif;*/

  color: #555;
  background: #9FF3FF;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF #00DFFF #00DFFF #FFF;
}





/**************************************************************
   Blockquote and included icons
 **************************************************************/

blockquote {
/*  margin: 10px 15px;
  padding-left: 27px;
  font-size: 1em;*/
  margin: 0 18px 18px 18px;
  font-size:12px;
  font-color:#333;
  background-color: #D8E2F3;  
/*  background-image: url(../images/icons/quote.gif);*/
/*  background-repeat: no-repeat;
  background-position: 5px 50%;  
*/}

blockquote.exclamation {
/*  background-image: url(../images/icons/exclamation.gif);*/
}

blockquote.stop {
/*  background-image: url(../images/icons/stop.gif);*/
}

blockquote.go {
/*  background-image: url(../images/icons/go.gif);*/
}





/**************************************************************
   Images
 **************************************************************/

img.floatRight {
  margin: 5px 0px 10px 15px;  
}

img.floatLeft {
  margin: 5px 15px 10px 0px;
}

a img {  
  border: 2px solid #8BE6FA;
}

a:hover img {  
  /* Fixes IE bug - IE doesn't correctly apply the style on a:hover so need to mask it */
  border: 2px solid #FFF !important;
  border: 2px solid #8BE6FA;
}
