/**************************************************************
   AUTHOR:  Pat Heard (fullahead.org)
   DATE:    2006.03.19
   PURPOSE: Controls the layout of the site and styles
            the menus
 **************************************************************/



/**************************************************************
   #content: Sets the width of the site.  Make changes here
             to convert to a fixed width site.
 **************************************************************/

#content {  
  height: 100%;
  min-height: 100%;

  text-align: left;
}

#content,
#width {
  /* max-width hack for IE since it doesn't understand the valid css property */
  width: expression(document.body.clientWidth > 900 ? "900px" : "94%");  
  max-width: 900px;
  margin: 0 auto;
}

#content[id],
#width[id] {
  width: 94%;
  height: auto;
}




/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

/* Left image */
#banner {
	position: relative;
	height: 100px;
/*  	background-image:url(../images/front/rotate.php);*/
  	background-image:url(../images/front/tucsonpan.png);
  	background-repeat:no-repeat;
  	background-position:center;
}

#header {
  position: relative;
  height: 110px;
  border-bottom: 1px solid;
}

/* Holds the site title and subtitle */
#header #title {
  position: relative;
  z-index: 3;
/*  top: 90px;*/
  padding: 15px;
  text-align: right;
}

#header h1 {
  margin: 0;
  padding: 0;
/*  text-transform: lowercase;*/
}

#header h2 {
  position: absolute;
  top: 10px;
  right: 5px;

  margin: 0;
  padding: 0;

  text-transform: lowercase;
}


/* Sets where the header images will go */
#header img.left {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

#header img.right {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}

#header img.balloons {
  position: absolute;
  z-index: 2;
  top: 70px;
  right: 400px;
}



/**************************************************************
   #mainMenu: The top level site menu
 **************************************************************/

#mainMenu { 
  float: left;
  width: 100%;
  clear: both;  
}

#mainMenu ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

#mainMenu li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainMenu li a {
  float: left;
  margin: 0 2px;
  padding: 5px 0.5em;
  font: 400 1.2em;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
}

#mainMenu li a:hover,
#mainMenu li a.here {
  border-top: 5px solid #000;
}

#mainMenu li a.last {
  margin-right: 0;
}




/**************************************************************
   .sideMenu: The side bar menu
 **************************************************************/

ul.sideMenu {
  margin: 0;
  padding: 0;
}

.sideMenu li {
  display: inline;
  
  /* Needed since IE fails when you give it list-style: none; */  
  list-style-image: url(foo.gif);
  font: 400 1.3em;
}

.sideMenu li a {
  display: block;
  margin: 0.2em 0;
  padding: 3px 5px;    
  
  text-decoration: none;
} 

.sideMenu li a:hover {
  background: #FFF;
}

/* Active menu item */
.sideMenu li.here {
  display: block;  
  padding: 5px;
  background: #FFF;
}

/* Submenu of active menu item */
.sideMenu li.here ul {
  margin: 0;
  padding: 0;
}

.sideMenu li.here ul li a {
  padding-left: 35px;
  font: 400 0.55em; 
  background:#FFF;
/*  background: url(../images/bg/bullet.gif) no-repeat 10px 0px;*/
}

.sideMenu li.here ul li a:hover {
  background:#FFF;
/*  background: #A3A53B url(../images/bg/bullet.gif) no-repeat 10px 0px;
*/}



/**************************************************************
   #page: Holds the main page content.
 **************************************************************/

#page {
  float: left;
  width: 100%;
  clear: both;
  
  padding-bottom: 4em;
}




/**************************************************************
   #footer: The page footer - will stick to the bottom if not
            enough content.
 **************************************************************/

#footer {
  float: left;
  width: 100%;
  clear: both;
  
  margin-top: -3.8em;
  background: #FFF repeat-x top left;
}

/* Sets the width of the footer content */
#footer #width {
  position: relative;
  z-index: 3;
  font-size: 0.85em;
  padding-top: 27px;
}



/**************************************************************
   Width classes used by the site columns
 **************************************************************/

.width100 {
  width: 100%;
}

.width75 {
  width: 74%;
}

.width50 {
  width: 49.7%;
}

.width33 {
  width: 32.7%;
}

.width25 {
  width: 24.7%;
}



/**************************************************************
   Alignment classes
 **************************************************************/

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}



/**************************************************************
   Generic display classes
 **************************************************************/

.slide {
	display:none; 
	overflow:hidden; 
	height:100px;
}

.clear {
  clear: both;
}

.block {
  display: block;
}

.small {
  font-size: 0.8em;
}

.black {
	color:#020202;
}

.green {
  color: #a3a53b;
}

.red {
  color: #A53D3B;
}

.grey {
  color: #666;
}

.grey a {
  color: #999;
}

.grey a:hover {
  color: #EEE;
}

.gradient {
  margin-bottom: 2em;
  background: #FFFFFF; 
}





